# New Section

# 1) What percentage of trades are with 30+ DPD (more than 30 days past due) among all the trades available?

In [7]:
import pandas as pd
import re
df1 = pd.read_xml("/content/customer1113697_loan1115483_crif_report.html.xml",xpath="//LOAN-DETAILS")
df2 = pd.read_xml("/content/customer1129550_loan1131339_crif_report.html.xml",xpath="//LOAN-DETAILS")
df3 = pd.read_xml("/content/customer1195586_loan1197471_crif_report.html.xml",xpath="//LOAN-DETAILS")
df4 = pd.read_xml("/content/customer14235_loan14235_crif_report.html.xml",xpath="//LOAN-DETAILS")
df5 = pd.read_xml("/content/customer16475_loan16475_crif_report.html.xml",xpath="//LOAN-DETAILS")
df6 = pd.read_xml("/content/customer40409_loan40409_crif_report.html.xml",xpath="//LOAN-DETAILS")
df7 = pd.read_xml("/content/customer773504_loan774538_crif_report.html.xml",xpath="//LOAN-DETAILS")
df8 = pd.read_xml("/content/customer787561_loan788638_crif_report.html.xml",xpath="//LOAN-DETAILS")
df9 = pd.read_xml("/content/customer794397_loan795497_crif_report.html.xml",xpath="//LOAN-DETAILS")
df10 = pd.read_xml("/content/customer898231_loan899591_crif_report.html.xml",xpath="//LOAN-DETAILS")
cph_list = [df1["DISBURSED-AMT>60,000</DISBURSED-AMT"].str.replace(",","").fillna("0"),
            df2["DISBURSED-AMT>60,000</DISBURSED-AMT"].str.replace(",","").fillna("0"),
            df3["DISBURSED-AMT>60,000</DISBURSED-AMT"].str.replace(",","").fillna("0"),
            df4["DISBURSED-AMT>60,000</DISBURSED-AMT"].str.replace(",","").fillna("0"),
            df5["DISBURSED-AMT>60,000</DISBURSED-AMT"].str.replace(",","").fillna("0"),
            df6["DISBURSED-AMT>60,000</DISBURSED-AMT"].str.replace(",","").fillna("0"),
            df7["DISBURSED-AMT>60,000</DISBURSED-AMT"].str.replace(",","").fillna("0"),
            df8["DISBURSED-AMT>60,000</DISBURSED-AMT"].str.replace(",","").fillna("0"),
            df9["DISBURSED-AMT>60,000</DISBURSED-AMT"].str.replace(",","").fillna("0"),
            df10["DISBURSED-AMT>60,000</DISBURSED-AMT"].str.replace(",","").fillna("0")]
def count_30plusDPD(cph_list):
    pat = r',[1-9][0-9][0-9]/|,[0-9][3-9][0-9]'
    cl = []

    for cph in cph_list:
        t = []
        for trade in cph:
            count = 0
            for emi in range(0, len(trade)):
                match = re.search(pattern=pat, string=trade[emi])
                if match != None:
                    count = count+1
            t.append(count)
        cl.append(t)
    return cl
       
sl = count_30plusDPD(cph_list)
for i in sl:
  print("customer 1 loan percentage :",sl[0])
  print("customer 2 loan percentage :",sl[1])
  print("customer 3 loan percentage :",sl[2])
  print("customer 4 loan percentage :",sl[3])
  print("customer 5 loan percentage :",sl[4])
  print("customer 6 loan percentage :",sl[5])
  print("customer 7 loan percentage :",sl[6])
  print("customer 8 loan percentage :",sl[7])
  print("customer 9 loan percentage :",sl[8])
  print("customer 10 loan percentage :",sl[9])
  break

KeyError: ignored

In [46]:
import pandas as pd
import re
df1 = pd.read_xml("/content/customer1113697_loan1115483_crif_report.html.xml",xpath="//LOAN-DETAILS")
df2 = pd.read_xml("/content/customer1129550_loan1131339_crif_report.html.xml",xpath="//LOAN-DETAILS")
df3 = pd.read_xml("/content/customer1195586_loan1197471_crif_report.html.xml",xpath="//LOAN-DETAILS")
df4 = pd.read_xml("/content/customer14235_loan14235_crif_report.html.xml",xpath="//LOAN-DETAILS")
df5 = pd.read_xml("/content/customer16475_loan16475_crif_report.html.xml",xpath="//LOAN-DETAILS")
df6 = pd.read_xml("/content/customer40409_loan40409_crif_report.html.xml",xpath="//LOAN-DETAILS")
df7 = pd.read_xml("/content/customer773504_loan774538_crif_report.html.xml",xpath="//LOAN-DETAILS")
df8 = pd.read_xml("/content/customer787561_loan788638_crif_report.html.xml",xpath="//LOAN-DETAILS")
df9 = pd.read_xml("/content/customer794397_loan795497_crif_report.html.xml",xpath="//LOAN-DETAILS")
df10 = pd.read_xml("/content/customer898231_loan899591_crif_report.html.xml",xpath="//LOAN-DETAILS")
# cph_list = [df1["COMBINED-PAYMENT-HISTORY"],
#             df2["COMBINED-PAYMENT-HISTORY"],
#             df3["COMBINED-PAYMENT-HISTORY"],
#             df4["COMBINED-PAYMENT-HISTORY"],
#             df5["COMBINED-PAYMENT-HISTORY"],
#             df6["COMBINED-PAYMENT-HISTORY"],
#             df7["COMBINED-PAYMENT-HISTORY"],
#             df8["COMBINED-PAYMENT-HISTORY"],
#             df9["COMBINED-PAYMENT-HISTORY"],
#             df10["COMBINED-PAYMENT-HISTORY"]]
cph_list = [df1["COMBINED-PAYMENT-HISTORY"],df2["COMBINED-PAYMENT-HISTORY"],df3["COMBINED-PAYMENT-HISTORY"],df4["COMBINED-PAYMENT-HISTORY"],df5["COMBINED-PAYMENT-HISTORY"],df6["COMBINED-PAYMENT-HISTORY"],df7,df8["COMBINED-PAYMENT-HISTORY"],df9["COMBINED-PAYMENT-HISTORY"],df10["COMBINED-PAYMENT-HISTORY"]]
def count_30plusDPD(cph_list):
    pat = r',[1-9][0-9][0-9]/|,[0-9][3-9][0-9]'
    cl = []

    for cph in cph_list:
        t = []
        for trade in cph:
            count = 0
            for emi in range(0, len(trade)):
                match = re.search(pattern=pat, string=trade[emi])
                if match != None:
                    count = count+1
            t.append(count)
        cl.append(t)
    return cl
sl = count_30plusDPD(cph_list)
for i in sl:
  print("customer 1 loan percentage :",sl[0])
  print("customer 2 loan percentage :",sl[1])
  print("customer 3 loan percentage :",sl[2])
  print("customer 4 loan percentage :",sl[3])
  print("customer 5 loan percentage :",sl[4])
  print("customer 6 loan percentage :",sl[5])
  print("customer 7 loan percentage :",sl[6])
  print("customer 8 loan percentage :",sl[7])
  print("customer 9 loan percentage :",sl[8])
  print("customer 10 loan percentage :",sl[9])
  break
print()
print("total customers : " ,len(sl))

customer 1 loan percentage : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
customer 2 loan percentage : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
customer 3 loan percentage : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
customer 4 loan percentage : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
customer 5 loan percentage : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
customer 6 loan percentage : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
customer 7 loan percentage : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
customer 8 loan percentage : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
customer 9 loan percentage : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
customer 10 loan percentage : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

total customers :  10

# 2) What is the sum of total disbursed amount for all loans for each customer?

In [ ]:
import pandas as pd
df1 = pd.read_xml("/content/customer1113697_loan1115483_crif_report.html.xml",xpath="//LOAN-DETAILS")
df2 = pd.read_xml("/content/customer1129550_loan1131339_crif_report.html.xml",xpath="//LOAN-DETAILS")
df3 = pd.read_xml("/content/customer1195586_loan1197471_crif_report.html.xml",xpath="//LOAN-DETAILS")
df4 = pd.read_xml("/content/customer14235_loan14235_crif_report.html.xml",xpath="//LOAN-DETAILS")
df5 = pd.read_xml("/content/customer16475_loan16475_crif_report.html.xml",xpath="//LOAN-DETAILS")
df6 = pd.read_xml("/content/customer40409_loan40409_crif_report.html.xml",xpath="//LOAN-DETAILS")
df7 = pd.read_xml("/content/customer773504_loan774538_crif_report.html.xml",xpath="//LOAN-DETAILS")
df8 = pd.read_xml("/content/customer787561_loan788638_crif_report.html.xml",xpath="//LOAN-DETAILS")
df9 = pd.read_xml("/content/customer794397_loan795497_crif_report.html.xml",xpath="//LOAN-DETAILS")
df10 = pd.read_xml("/content/customer898231_loan899591_crif_report.html.xml",xpath="//LOAN-DETAILS")

l = [df1["DISBURSED-AMT"].str.replace(",","").fillna("0"),
     df2["DISBURSED-AMT"].str.replace(",","").fillna("0"),
     df3["DISBURSED-AMT"].str.replace(",","").fillna("0"),
     df4["DISBURSED-AMT"].str.replace(",","").fillna("0"),
     df5["DISBURSED-AMT"].str.replace(",","").fillna("0"),
     df6["DISBURSED-AMT"].str.replace(",","").fillna("0"),
     df7["DISBURSED-AMT"].str.replace(",","").fillna("0"),
     df8["DISBURSED-AMT"].str.replace(",","").fillna("0"),
     df9["DISBURSED-AMT"].str.replace(",","").fillna("0"),
     df10["DISBURSED-AMT"].str.replace(",","").fillna("0")]
l2=[]
for i in l:
  for j in i:
    l2.append(i)
    break
l3 = list(c[3])

customer1 = []
for a in l2[0]:
  customer1.append(eval(a))
print("The sum of customer 1 is : ",sum(customer))

customer = []
for a in l2[1]:
  customer.append(eval(a))
print("The sum of customer 2 is : ",sum(customer))

customer = []
for a in l2[2]:
  customer.append(eval(a))
print("The sum of customer 3 is : ",sum(customer))

customer = []
for a in l2[3]:
  customer.append(eval(a))
print("The sum of customer 4 is : ",sum(customer))

customer = []
for a in l2[4]:
  customer.append(eval(a))
print("The sum of customer 5 is : ",sum(customer))

customer = []
for a in l2[5]:
  customer.append(eval(a))
print("The sum of customer 6 is : ",sum(customer))

customer = []
for a in l2[6]:
  customer.append(eval(a))
print("The sum of customer 7 is : ",sum(customer))

customer = []
for a in l2[7]:
  customer.append(eval(a))
print("The sum of customer 8 is : ",sum(customer))

customer = []
for a in l2[8]:
  customer.append(eval(a))
print("The sum of customer 9 is : ",sum(customer))

customer = []
for a in l2[9]:
  customer.append(eval(a))
print("The sum of customer 10 is : ",sum(customer))

The sum of customer 1 is :  12449012
The sum of customer 2 is :  795601
The sum of customer 3 is :  4471863
The sum of customer 4 is :  8532117
The sum of customer 5 is :  2868467
The sum of customer 6 is :  1075308
The sum of customer 7 is :  4133365
The sum of customer 8 is :  691839
The sum of customer 9 is :  910791
The sum of customer 10 is :  12449012

# 3) What is the maximum number of months of 30+ due per trade was there? e.g. for trade 1 there are 3 occurrences of 30+, for trade 2 there are 6 occurrences and for trade 3 there are 3 occurrences then the answer will be 6.

In [49]:
import pandas as pd
df1 = pd.read_xml("/content/customer1113697_loan1115483_crif_report.html.xml",xpath="//LOAN-DETAILS")
df2 = pd.read_xml("/content/customer1129550_loan1131339_crif_report.html.xml",xpath="//LOAN-DETAILS")
df3 = pd.read_xml("/content/customer1195586_loan1197471_crif_report.html.xml",xpath="//LOAN-DETAILS")
df4 = pd.read_xml("/content/customer14235_loan14235_crif_report.html.xml",xpath="//LOAN-DETAILS")
df5 = pd.read_xml("/content/customer16475_loan16475_crif_report.html.xml",xpath="//LOAN-DETAILS")
df6 = pd.read_xml("/content/customer40409_loan40409_crif_report.html.xml",xpath="//LOAN-DETAILS")
df7 = pd.read_xml("/content/customer773504_loan774538_crif_report.html.xml",xpath="//LOAN-DETAILS")
df8 = pd.read_xml("/content/customer787561_loan788638_crif_report.html.xml",xpath="//LOAN-DETAILS")
df9 = pd.read_xml("/content/customer794397_loan795497_crif_report.html.xml",xpath="//LOAN-DETAILS")
df10 = pd.read_xml("/content/customer898231_loan899591_crif_report.html.xml",xpath="//LOAN-DETAILS")

l = [df1["COMBINED-PAYMENT-HISTORY"],df2["COMBINED-PAYMENT-HISTORY"],df3["COMBINED-PAYMENT-HISTORY"],df4["COMBINED-PAYMENT-HISTORY"],df5["COMBINED-PAYMENT-HISTORY"],df6["COMBINED-PAYMENT-HISTORY"],df7["COMBINED-PAYMENT-HISTORY"],df8["COMBINED-PAYMENT-HISTORY"],df9["COMBINED-PAYMENT-HISTORY"],df10["COMBINED-PAYMENT-HISTORY"]]


df1

,ACCT-NUMBER,CREDIT-GUARANTOR,ACCT-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-AMT,DISBURSED-DATE,LAST-PAYMENT-DATE,CLOSED-DATE,...,CURRENT-BAL,SECURITY-STATUS,COMBINED-PAYMENT-HISTORY,MATCHED-TYPE,SECURITY-DETAILS,LINKED-ACCOUNTS,INSTALLMENT-AMT,ACTUAL-PAYMENT,SUIT-FILED_WILFUL-DEFAULT,CREDIT-LIMIT
0,XXXX,XXXX,Gold Loan,28-02-2017,Individual,Closed,"35,000",25-01-2017,01-02-2017,01-02-2017,...,0,Secured,"Feb:2017,000/XXX|Jan:2017,000/STD|",PRIMARY,NaN,NaN,None,None,None,None
1,XXXX,XXXX,Gold Loan,31-03-2016,Individual,Closed,"31,500",08-09-2014,03-03-2016,03-03-2016,...,0,Secured,"Mar:2016,000/XXX|Feb:2016,175/XXX|Jan:2016,146...",PRIMARY,NaN,NaN,None,None,None,None
2,XXXX,XXXX,Gold Loan,31-03-2017,Individual,Closed,"12,000",09-08-2016,23-03-2017,23-03-2017,...,0,Secured,"Mar:2017,000/XXX|Feb:2017,114/XXX|Jan:2017,086...",PRIMARY,NaN,NaN,None,None,None,None
3,XXXX,XXXX,Gold Loan,31-08-2017,Individual,Closed,"6,400",12-04-2017,22-08-2017,22-08-2017,...,0,Secured,"Aug:2017,000/XXX|Jul:2017,000/STD|Jun:2017,000...",PRIMARY,NaN,NaN,None,None,None,None
4,XXXX,XXXX,Gold Loan,31-08-2017,Individual,Closed,"15,500",25-03-2017,22-08-2017,22-08-2017,...,0,Secured,"Aug:2017,000/XXX|Jul:2017,000/STD|Jun:2017,000...",PRIMARY,NaN,NaN,None,None,None,None
5,XXXX,XXXX,Personal Loan,30-04-2019,Individual,Active,"70,000",04-06-2018,None,None,...,"30,261",Un-secured,"Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000...",PRIMARY,NaN,NaN,"5,367","5,367",None,None
6,XXXX,XXXX,Gold Loan,31-07-2017,Individual,Closed,"45,000",21-07-2017,23-07-2017,23-07-2017,...,0,Secured,"Jul:2017,000/XXX|",PRIMARY,NaN,NaN,None,None,None,None
7,XXXX,XXXX,Personal Loan,30-04-2019,Individual,Active,"20,000",04-07-2018,None,None,...,0,Un-secured,"Apr:2019,000/STD|Mar:2019,000/STD|Feb:2019,000...",PRIMARY,NaN,NaN,None,None,None,None
8,XXXX,XXXX,Gold Loan,31-07-2017,Individual,Closed,"47,000",23-07-2017,25-07-2017,25-07-2017,...,0,Secured,"Jul:2017,000/XXX|",PRIMARY,NaN,NaN,None,None,None,None
9,XXXX,XXXX,Gold Loan,31-07-2017,Individual,Closed,"35,000",10-07-2017,13-07-2017,13-07-2017,...,0,Secured,"Jul:2017,000/XXX|",PRIMARY,NaN,NaN,None,None,None,None
10,XXXX,XXXX,Personal Loan,30-04-2019,Individual,Active,"20,000",04-07-2018,None,None,...,0,Un-secured,"Apr:2019,000/STD|Mar:2019,DDD/DDD|Feb:2019,000...",PRIMARY,NaN,NaN,None,None,None,None
11,XXXX,XXXX,Personal Loan,31-03-2019,Individual,Closed,"5,000",04-03-2019,18-03-2019,18-03-2019,...,0,Un-secured,"Mar:2019,XXX/STD|",PRIMARY,NaN,NaN,None,None,None,None
12,XXXX,XXXX,Gold Loan,31-01-2017,Individual,Closed,"20,000",18-01-2017,25-01-2017,25-01-2017,...,0,Secured,"Jan:2017,000/XXX|",PRIMARY,NaN,NaN,None,None,None,None
13,XXXX,XXXX,Personal Loan,30-04-2019,Joint,Active,"1,30,000",11-10-2018,05-04-2019,None,...,"97,498",Un-secured,"Apr:2019,000/STD|Mar:2019,000/STD|Feb:2019,000...",PRIMARY,NaN,NaN,None,None,None,None
14,XXXX,XXXX,Gold Loan,31-03-2016,Individual,Closed,"21,600",11-09-2014,03-03-2016,03-03-2016,...,0,Secured,"Mar:2016,000/XXX|Feb:2016,172/XXX|Jan:2016,143...",PRIMARY,NaN,NaN,None,None,None,None
15,XXXX,XXXX,Gold Loan,31-08-2017,Individual,Closed,"50,000",25-07-2017,04-08-2017,04-08-2017,...,0,Secured,"Aug:2017,000/XXX|Jul:2017,000/STD|",PRIMARY,NaN,NaN,None,None,None,None
16,XXXX,XXXX,Gold Loan,30-06-2017,Individual,Closed,"20,000",30-06-2017,30-06-2017,30-06-2017,...,0,Secured,"Jun:2017,000/XXX|",PRIMARY,NaN,NaN,None,None,None,None
17,XXXX,XXXX,Auto Loan (Personal),28-02-2019,Individual,Closed,"1,65,000",30-04-2013,None,21-07-2016,...,0,Secured,"Jul:2016,000/XXX|Jun:2016,210/XXX|May:2016,180...",PRIMARY,NaN,NaN,None,None,None,None
18,XXXX,XXXX,Gold Loan,31-03-2017,Individual,Closed,"11,500",19-09-2016,30-03-2017,30-03-2017,...,0,Secured,"Mar:2017,000/XXX|Feb:2017,073/XXX|Jan:2017,000...",PRIMARY,NaN,NaN,None,None,None,None
19,XXXX,XXXX,Gold Loan,31-07-2017,Individual,Closed,"11,500",23-03-2017,28-07-2017,28-07-2017,...,0,Secured,"Jul:2017,000/XXX|Jun:2017,000/STD|May:2017,000...",PRIMARY,NaN,NaN,None,None,None,None
20,XXXX,XXXX,Two-Wheeler Loan,30-04-2019,Individual,Active,"40,000",31-10-2012,28-05-2014,None,...,"11,500",Secured,"Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000...",PRIMARY,NaN,NaN,"2,572/Monthly","43,724",No Suit filed,None
21,XXXX,XXXX,Credit Card,30-04-2019,Individual,Active,"46,980",24-05-2018,07-04-2019,None,...,"46,980",Un-secured,"Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000...",PRIMARY,NaN,NaN,None,"12,903",None,"45,000"
22,XXXX,XXXX,Gold Loan,31-03-2018,Individual,Closed,"11,340",28-07-2017,15-03-2018,15-03-2018,...,0,Secured,"Mar:2018,000/XXX|Feb:2018,000/STD|Jan:2018,000...",PRIMARY,NaN,NaN,None,None,None,None
23,XXXX,XXXX,Gold Loan,28-02-2017,Individual,Closed,"38,000",01-02-2017,04-02-2017,04-02-2017,...,0,Secured,"Feb:2017,000/XXX|",PRIMARY,NaN,NaN,None,None,None,None
24,XXXX,XXXX,Gold Loan,31-05-2017,Individual,Closed,"52,000",03-05-2017,06-05-2017,06-05-2017,...,0,Secured,"May:2017,000/XXX|",PRIMARY,NaN,NaN,None,None,None,None
25,XXXX,XXXX,Gold Loan,31-07-2017,Individual,Closed,"62,000",13-07-2017,15-07-2017,15-07-2017,...,0,Secured,"Jul:2017,000/XXX|",PRIMARY,NaN,NaN,None,None,None,None
26,XXXX,XXXX,Gold Loan,31-07-2017,Individual,Closed,"35,000",20-07-2017,21-07-2017,21-07-2017,...,0,Secured,"Jul:2017,000/XXX|",PRIMARY,NaN,NaN,None,None,None,None